latex==0.7.0
matplotlib==3.8.4
matplotlib-inline==0.1.6
numpy==1.26.4
pylatexenc==2.10
PyYAML==6.0.1
qiskit==1.0.2
qiskit-aer==.0.1
qiskit-algorithms==0.3.0
qiskit-finance==0.14.0.1
qiskit-ibm-provider==0.10.0
qiskit-optimization==0.6.1
tqdm==4.66.2